In [69]:
import requests
import pandas as pd

In [70]:
chats = pd.DataFrame(columns=["INFO","ID"])
users = pd.DataFrame(columns=["INFO","ID"])
messages = pd.DataFrame(columns=["INFO","ID"])

In [62]:
def createUser(username):
    url="http://localhost:8080/user/create"
    params={'username':username}
    user = requests.post(url,data=params).text
    return username,user

def appendInfo(username,user_id,users):
    users = users.append({'INFO':username,'ID':user_id},ignore_index=True)
    return users



#name = input("Introduce the name of the user: ")
names = ["Eloy","Gonzalo","Ana","Maria"]
for n in names:
    username,user_id = createUser(n)
    users = appendInfo(username,user_id ,users)

In [63]:
users

       INFO                        ID
0    Blanca  5de391d57f6e91bd6cf56455
1     Elena  5de391d57f6e91bd6cf56456
2  Cristina  5de391d57f6e91bd6cf56457
3       Mer  5de391d57f6e91bd6cf56458
4      Eloy  5de3aad67f6e91bd6cf5645e
5   Gonzalo  5de3aad67f6e91bd6cf5645f
6       Ana  5de3aad67f6e91bd6cf56460
7     Maria  5de3aad67f6e91bd6cf56461

In [55]:
def createChat(chatname,users):    
    url="http://localhost:8080/chat/create"
    params={'chatname':chatname,
           'users':users}
    chat = requests.post(url,data=params).text
    return chatname,chat
    
chatname,chat_id = createChat("datamad1019",[users.loc[0].ID,users.loc[1].ID])
chats = appendInfo(chatname,chat_id,chats)

In [56]:
chats

          INFO                        ID
0  datamad1019  5de391f57f6e91bd6cf56459

In [57]:
def addUser(chat,user_id):
    url=f"http://localhost:8080/chat/{chat}/adduser"
    params={'userid':user_id}
    requests.post(url,data=params).text
    return chat

addUser(chats.loc[0].ID,[users.loc[2].ID,users.loc[3].ID])

'5de391f57f6e91bd6cf56459'

In [72]:
def addMessage(chat,message,user_id):   
    url=f"http://localhost:8080/chat/{chat}/addmessage"
    params={'message':message,
           'user_id':user_id}
    message_id = requests.post(url,data=params).text
    return message,message_id

message,message_id= addMessage('5de391f57f6e91bd6cf56459',"xxx",'5de391d57f6e91bd6cf56455')
messages = appendInfo(message,message_id,messages)