In [45]:
from pymongo import MongoClient
from bson.objectid import ObjectId
import requests
import json

import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

client = MongoClient()
db = client["API"]
m = db['message']

In [34]:
def getMessages(chat_id):
    url=f"http://localhost:8080/chat/{chat_id}/list"
    mes = requests.get(url).text
    mes = json.loads(mes)
    message_list = mes['list'][0]
    return message_list['messages']

# RECOMENDATIONS

In [244]:
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity as distance



info = {}
x=list(m.find({},{'message':1,'user_id':1,'_id':0}))
for i in x:
    if i['user_id'] not in info.keys():
        info[i['user_id']] = i['message']
    else:
        info[i['user_id']] = info[i['user_id']]+" "+i['message']

In [245]:
count_vectorizer = CountVectorizer(stop_words='english')
count_vectorizer = CountVectorizer()
sparse_matrix = count_vectorizer.fit_transform(info.values())

In [246]:
info_matrix = sparse_matrix.todense()
df = pd.DataFrame(info_matrix, 
                  columns=count_vectorizer.get_feature_names(), 
                  index=info.keys())
display(df)

,am,are,back,came,extremelly,from,good,hate,hello,holidays,how,just,sad,you
5de391d57f6e91bd6cf56455,0,1,0,0,0,0,0,1,1,0,1,0,0,2
5de391d57f6e91bd6cf56456,1,0,1,1,0,1,1,0,0,1,0,1,0,0
5de391d57f6e91bd6cf56457,1,0,0,0,1,0,0,0,0,0,0,0,1,0

In [249]:
similarity_matrix = distance(df, df)
np.fill_diagonal(sim_df.values, 0) # Remove diagonal max values and set those to 0
sim_df = pd.DataFrame(similarity_matrix, columns=info.keys(), index=info.keys())
display(sim_df)

,5de391d57f6e91bd6cf56455,5de391d57f6e91bd6cf56456,5de391d57f6e91bd6cf56457
5de391d57f6e91bd6cf56455,1.0,0.000000,0.000000
5de391d57f6e91bd6cf56456,0.0,1.000000,0.218218
5de391d57f6e91bd6cf56457,0.0,0.218218,1.000000

In [251]:
np.fill_diagonal(sim_df.values, 0) # Remove diagonal max values and set those to 0
x = sim_df.idxmax()

In [252]:
x

5de391d57f6e91bd6cf56455    5de391d57f6e91bd6cf56455
5de391d57f6e91bd6cf56456    5de391d57f6e91bd6cf56457
5de391d57f6e91bd6cf56457    5de391d57f6e91bd6cf56456
dtype: object

,Hello,hate,"good,",came,back,holidays,extremelly,sad,Hello,hate
index,,,,,,,,,,
5de391d57f6e91bd6cf56455,2,2,2,2,2,2,2,2,2,2
5de391d57f6e91bd6cf56456,1,1,1,1,1,1,1,1,1,1
5de391d57f6e91bd6cf56457,1,1,1,1,1,1,1,1,1,1