In [1]:
import requests
import pandas as pd

In [2]:
chats = pd.DataFrame(columns=["INFO","ID"])
users = pd.DataFrame(columns=["INFO","ID"])
messages = pd.DataFrame(columns=["INFO","ID"])

In [10]:
def createUser(username):
    url="http://localhost:8080/user/create"
    params={'username':username}
    user = requests.post(url,data=params).text
    return username,user

def appendInfo(username,user_id,users):
    users = users.append({'INFO':username,'ID':user_id},ignore_index=True)
    return users



#name = input("Introduce the name of the user: ")
names = ["Antonio","Carlos","Pepe","Alvaro"]
for n in names:
    username,user_id = createUser(n)
    users = appendInfo(username,user_id ,users)

In [11]:
users

       INFO                        ID
0    Blanca  5de2f600964f3f7b725bf4ac
1  Mercedes  5de2f600964f3f7b725bf4ad
2  Cristina  5de2f600964f3f7b725bf4ae
3     Elena  5de2f600964f3f7b725bf4af
4   Antonio  5de2f69b964f3f7b725bf4b2
5    Carlos  5de2f69b964f3f7b725bf4b3
6      Pepe  5de2f69b964f3f7b725bf4b4
7    Alvaro  5de2f69b964f3f7b725bf4b5

In [14]:
def createChat(chatname,users):    
    url="http://localhost:8080/chat/create"
    params={'chatname':chatname,
           'users':users}
    chat = requests.post(url,data=params).text
    return chatname,chat
    
chatname,chat_id = createChat("datamad1019",['5de2f69b964f3f7b725bf4b3','5de2f69b964f3f7b725bf4b4'])
chats = appendInfo(chatname,chat_id,chats)

In [15]:
chats

          INFO                        ID
0     ironhack  5de2f626964f3f7b725bf4b0
1     ironhack  5de2f6a8964f3f7b725bf4b6
2  datamad1019  5de2f6b3964f3f7b725bf4b7

In [7]:
def addUser(chat,user_id):
    url=f"http://localhost:8080/chat/{chat}/adduser"
    params={'userid':user_id}
    requests.post(url,data=params).text
    return chat

addUser(chats.loc[0].ID,[users.loc[0].ID,users.loc[1].ID])

'5de2f626964f3f7b725bf4b0'

In [18]:
def addMessage(chat,message,user_id):   
    url=f"http://localhost:8080/chat/{chat}/addmessage"
    params={'message':message,
           'user_id':user_id}
    message_id = requests.post(url,data=params).text
    return message,message_id

message,message_id= addMessage(chats.loc[1].ID,"i am very tired",users.loc[2].ID)
messages = appendInfo(message,message_id,messages)

In [19]:
messages

                      INFO                        ID
0              Hello World  5de2f65a964f3f7b725bf4b1
1  i am back from holidays  5de2f6c8964f3f7b725bf4b8
2          i am very tired  5de2f6e0964f3f7b725bf4b9